<%= render 'logo' %>
<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="white-box">
    <%= f.text_area :data, :class => "ip", placeholder: "An ultralight app to store and share notes on the cloud. Type in a note and save it."%>
  	<div class="actions">
  		<div class="lhs">
  			<%unless user_signed_in? %>
          You must be <%=link_to 'signed in'.html_safe, new_user_session_path, class: "sblue" %> to save notes.
        <% else %>
          <%=current_user.email%> 
        <%end%>
  		</div>
  	    <%= f.submit :Save, class: 'new-note-save' %>
  	</div>
  </div>
  
<% end %>
