<!DOCTYPE html>
<html>
<head>
  <title>Scratch! - Your online quickpad.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<% if notice %>
<div class="flash">
<div class="notice"><%= notice %></div>
</div>
<%end%>
<% if alert %>
<div class="flash">
<div class="alert"><%= alert %></div>
</div>
<%end%>
<%if user_signed_in? %>
<div class="logout">
<%=link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
<%end%>

<%= yield %>

</div>
<div class="footer">
Created with &#9829; by Sizr, India
</div>
</body>
</html>
